.removeLinkEffect{
    text-decoration: none;
    color: black;
}

.home-img img{
/* margin: auto; */
  width: 100vw;
}


/* About us */

.main-content {
    /* height: 90vh; */
    padding-top: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  
.main-heading p {
    margin: 0vh 2vw;
    font-size: 43px;
    font-weight: 700;
    color: #E4F1FF;
  }
.main-words {
  width: 40vw;
  height: auto;
}
  .main-paragraph p {
    margin: 2vh 4vw;
    font-size: 1em;
    color: #E4F1FF;
  
  }
  
.main-img{
  width:60vw;
}
  
.points ul {
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .points li {
    list-style-type: none;
    margin-left: 20px;
  }
  
  
  @media screen and (max-width: 870px) {
    body {
      background-color: lightgreen;
    }
    .main-content{
      flex-direction: column-reverse;
    }
    .our-mission{
      flex-direction:column ;
    }
    .main-words{
      width: 90vw;
    }
  }